<% include partials/header %>

<h1>Hi!</h1>

<img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">

<h2>GOODBYE</h2>
<% include partials/footer %>